# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/

# 环境变量
.env
secrets.json

# 日志
*.log

# 系统文件
.DS_Store
Thumbs.db

# 大文件
*.exe
*.rar

# 测试文件
test_*

note_dashboard.txt